<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">

            <img
              src="https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/b_AllSoulsquad.jpg?itok=N1GzQbrQ"
              height="569px" width="150%" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 text-color="black">Cap University</h1>

              <p>CAP is one of the most popular and successful universities in the India, ranked in the world's top 10
                in the QS World University Rankings 2019.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
              <h3>Our Library</h3>
              <p>The CAP University Beinecke Rare Book and Manuscript Library holds the distinction of being the largest
                building in the world that serves the express purpose of preserving rare books and manuscripts, which
                alone undoubtedly makes it one of the best libraries in the world.</p>
            </div>
            <img class=" d-block w-100" src="https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581_960_720.jpg"
              height="569px" width="150%" alt="Second slide">
          </div>
          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
              <h3>Our Library</h3>
              <p>The CAP University makes your mind to create new Innovative Things in world.</p>
            </div>
            <img class=" d-block w-100" src="https://cdn.pixabay.com/photo/2017/12/18/13/59/create-3026190_960_720.jpg"
              height="569px" width="115%" alt="Third slide">
          </div>
        </div>


        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>