<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">UAS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/scheduledprogram" RouterLinkActive="active" *ngIf="role ===  'null'">View Scheduled Program</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/applicationstatus" RouterLinkActive="active" *ngIf="role === 'null'">Application Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus" RouterLinkActive="active" *ngIf="role === 'null'">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactdetails" RouterLinkActive="active" *ngIf="role === 'null'">Contact Details</a>
            </li>
            <li class="nav-item" *ngIf="role === 'admin'">
                <a class="nav-link" RouterLinkActive="active" routerLink="/adminoperations">Admin Operations</a>
            </li>
            <li class="nav-item" *ngIf="role === 'mac'">
                <a class="nav-link" RouterLinkActive="active" routerLink="/macoperations">Mac Operations</a>
            </li>
            <li class="nav-item" *ngIf="role === 'admin'">
                <a class="nav-link" RouterLinkActive="active" routerLink="/addcourse">Add Course</a>
            </li>
            <li class="nav-item" *ngIf="role === ('admin' && 'mac')">
                <a class="nav-link" RouterLinkActive="active" routerLink="/viewallapplications">View All Applications</a>
            </li>
            <li class="nav-item" *ngIf="role === 'admin'">
                <a class="nav-link" RouterLinkActive="active" routerLink="/viewallaccepted">View All Accepted Applications</a>
            </li>
            <li class="nav-item" *ngIf="role === 'admin'">
                <a class="nav-link" RouterLinkActive="active" routerLink="/viewallrejected">View All Rejected Applications</a>
            </li>
            <li class="nav-item" *ngIf="role === 'mac'">
                <a class="nav-link" RouterLinkActive="active" routerLink="/setstatus">Set Status</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="role === 'null'">
                <a class="nav-link" RouterLinkActive="active" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="role !== 'null'">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>