.img{
    /* background-image: url("https://cdn.pixabay.com/photo/2016/03/31/18/26/computer-1294359_960_720.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}