<div class="alert alert-success" *ngIf='Data'>{{Data.description}}</div>
<h2 class="text-center mt-4 text-sucess" style="color:indigo;"><i>Welcome to Student</i></h2>
<div class="row">
  <div class="col-3 mt-4">
    <div class="nav flex-column nav-pills">
      <button><a class="nav-link " style="color: blue;" routerLink="/searchallbooks"><b>Show All Books</b></a></button>
      <button><a class="nav-link " style="color: blue;" routerLink="/requestbook"><b>Request For
            Book</b></a></button>
      <button> <a class="nav-link " style="color: blue;" routerLink="/cancelrequest"><b>Cancel
            Request</b></a>
      </button>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"></div>
    </div>
  </div>
</div>