<div class="alert alert-success mt-5" *ngIf='msg'>{{msg}}</div>
<form action="" class="col-md-4 offset-4 mt-3 mb-3 card card-body" #form="ngForm" (ngSubmit)="addProduct(form)">
    <h1 class="text-center bg-white mb-3">Add Product</h1>

    <div class="form-group">
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Product name..."
            #name="ngModel" ngModel required maxlength="255" title="maximum length 255 characters"
            pattern="([A-Za-z\s]+){3,}">
        <div *ngIf="name.touched && name.invalid">
            <p *ngIf="name.errors.required" class="alert alert-danger"> *product name is required maxlength is 255</p>
        </div>
        <div *ngIf="name.touched && name.invalid">
            <p *ngIf="name.errors.pattern" class="alert alert-danger"> *enter only characters min 3 and max 255</p>
        </div>
    </div>

    <div class="form-group">
        <input type="text" name="category" id="category" class="form-control" placeholder="Enter product category..."
            #category="ngModel" ngModel required maxlength="255" title="maximum length 255 characters"
            pattern="([A-Za-z\s]+){3,}">
        <div *ngIf="category.touched && category.invalid">
            <p *ngIf="category.errors.required" class="alert alert-danger"> *Product category is required maxlength is
                255</p>
        </div>
        <div *ngIf="category.touched && category.invalid">
            <p *ngIf="category.errors.pattern" class="alert alert-danger"> *enter only characters min 3 and max 25</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="company" id="company" class="form-control" placeholder="Enter company.."
            #company="ngModel" ngModel required maxlength="255" title="maximum length 255 characters"
            pattern="([A-Za-z\s]+){3,}">
        <div *ngIf="company.touched && company.invalid">
            <p *ngIf="company.errors.required" class="alert alert-danger"> *Product company is required maxlength is 255
            </p>
        </div>
        <div *ngIf="company.touched && company.invalid">
            <p *ngIf="company.errors.pattern" class="alert alert-danger"> *enter only characters min 3 and max 255</p>
        </div>
    </div>

    <div class="form-group">
        <input type="text" name="quantity" id="quantity" class="form-control" placeholder="Enter Product quantity..."
            #quantity="ngModel" ngModel required pattern="^[1-9][0-9]?$|^100$" title="please enter between 1-100">
        <div *ngIf="quantity.touched && quantity.invalid">
            <p *ngIf="quantity.errors.required" class="alert alert-danger"> *Product quantity required</p>
        </div>
        <div *ngIf="quantity.touched && quantity.invalid">
            <p *ngIf="quantity.errors.pattern" class="alert alert-danger"> *please enter between 1-100</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="price" id="price" class="form-control" placeholder="Enter Product price..."
            #price="ngModel" ngModel required pattern="" title="please enter double value of price">
        <div *ngIf="price.touched && price.invalid">
            <p *ngIf="price.errors.required" class="alert alert-danger"> *Product price required</p>
        </div>
        <div *ngIf="price.touched && price.invalid">
            <p *ngIf="price.errors.pattern" class="alert alert-danger"> *please enter double value of price </p>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Add Product</button>
    </div>
</form>