<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">LMS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/contactus">Contact-Us</a>
            </li>
            <li class="nav-item" *ngIf='isAdmin()'>
                <a class="nav-link active" routerLink="/admin">Admin</a>
            </li>
            <li class="nav-item active" *ngIf='isStudent()'>
                <a class="nav-link" routerLink="/student">Student</a>
            </li>
            <li class="nav-item active" *ngIf='isLibrarian()'>
                <a class="nav-link" routerLink="/librarian">Librarian</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mr-lg-0">
            <li class="nav-item active" *ngIf='!isLoggedIn()'>
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li class="nav-item active" *ngIf='!isLoggedIn()'>
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item active" *ngIf='isLoggedIn()'>
                <button class="btn-outline-light" (click)='logout()'>Logout</button>
            </li>
        </ul>
    </div>
</nav>