<div class="col-md-4 offset-md-4 card card-body mt-5">
    <h4>Please Login!!</h4>
    <form #loginForm="ngForm" (ngSubmit)="printForm(loginForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="loginId" id="loginId" class="form-control" #loginId="ngModel" ngModel required
                minlength="5">
        </div>
        <!-- <div *ngIf="email.touched && email.invalid">
            <p class="alert alert-danger" *ngIf="email.errors.required">Enter email properly</p>
        </div> -->
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" #password="ngModel" ngModel>
        </div>
        <div class="btn-group col-md-12">
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="reset" class="btn btn-light">Reset</button>
        </div>
    </form>
</div>        