<div class="img" style="height: 690px;">
        <div class="container">
            <table class="table table-bordered table-info">
              <thead class="thead-dark">
                <tr>
                  <th>Application ID</th>
                  <th>Full Name</th>
                  <th>Date Of Interview</th>
                  <th>Highest Qualification</th>
                  <th>Marks Obtained</th>
                  <th>Goals</th>
                  <th>Email Id</th>
                  <th>Scheduled Program Id</th>
                  <th>Status</th>
                </tr>
                <tr *ngFor="let application of viewAllRejectedApplication">
                  <td>{{application.applicationId}}</td>
                  <td>{{application.fullName}}</td>
                  <td>{{application.dob}}</td>
                  <td>{{application.hQualification}}</td>
                  <td>{{application.marksObtained}}</td>
                  <td>{{application.goals}}</td>
                  <td>{{application.emailId}}</td>
                  <td>{{application.scheduledProgramId}}</td>
                  <td>{{application.status}}</td>
                </tr>
              </thead>
            </table>
          </div> 
          <button type="button" class="btn btn-dark" style="bottom:48px; right:0;display:block;position:fixed;" routerLink ="/adminoperation" >Back</button>
           
          
        </div>