<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-title mb-0">
                        <h1 style="color: purple; text-align: center;"><b>Library Management System</b></h1>
                        <p>A Library Management System is a software built to handle the primary housekeeping functions
                            of a library.
                            Libraries rely on library management systems to manage asset collections
                            as well as relationships with their members. Library management systems help libraries
                            keep track of the books and their checkouts, as well as members’ subscriptions and profiles.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center"> Created for
                <a href="http://www.pescemandya.org/digital_library.php" target="_blank"
                    style="color: purple;">Libraries</a>
            </div>
        </div>
    </div>
</div>