<!-- <div class="col-md-2 float-left card card-body card-text">
    <button type="button" class="card text-white bg-secondary mb-3" data-toggle="popover" title="Popover title"
      data-content="And here's some amazing content. It's very engaging. Right?">
      <div class="card text-white bg-basic mb-3" style="max-width: 20rem;">
        <div class="card-header"><a class="nav-item nav-link active" routerLink="/addCourse">Add Course<span
              class="sr-only">(current)</span></a></div>
      </div>
    </button>
    

    <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title"
      data-content="And here's some amazing content. It's very engaging. Right?">
      <div class="card text-white bg-basic mb-3" style="max-width: 20rem;">
        <div class="card-header"><a class="nav-item nav-link" routerLink="/viewallapplications">View Accepted
            Applications</a></div>
      </div>
    </button>
  
    <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title"
      data-content="And here's some amazing content. It's very engaging. Right?">
      <div class="card text-white bg-basic mb-3" style="max-width: 20rem;">
        <div class="card-header"><a class="nav-item nav-link" routerLink="/viewallapplciations">View Rejected Applications</a></div>
      </div>
    </button>

    <button type="button" class="card text-white bg-dark mb-3" data-toggle="popover" title="Popover title"
      data-content="And here's some amazing content. It's very engaging. Right?">
      <div class="card text-white bg-basic mb-3" style="max-width: 18rem;">
        <div class="card-header"><a class="nav-item nav-link" routerLink="/">Logout</a></div>
  
      </div>
    </button>
  </div>
  <div class="col-md-10 card card-body text-center" style="height: 670px; width : 100%; background:white">
    <h1>Welcome Admin</h1><br>
    <img src="https://cdn.pixabay.com/photo/2015/12/31/11/17/globe-1115567__340.jpg" alt="" height="100%" width="900px">
  </div> -->